{% extends 'blog/base.html' %}
<!-- coreyMS -->
{% load crispy_forms_tags %}
{% block content %}
<div class="col-sm-10 content-senction shadow-sm">
    <!-- coreyMS -->
    <form action="" method="post">
        {% csrf_token %}
        <fieldset>
            <legend class="border-bottom mb-4">Join Today</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="">
            <button class="btn btn-outline-info my-3" type="submit">Sign Up</button>
        </div>
    </form> -->
    <div class="">
        <small class="border-top pt-2">
            Already Have An Account?
            <a href="{% url 'login' %}" class="ms-2">Sign In</a>
        </small>
    </div>

</div>

{% endblock content %}